@media screen and (min-width: 641px) {

    .sp_only {
        display: none !important;
    }
    
    header {
        padding: 0 16px;
        background-size: 100% auto;
    }
    header .shortcut li a {
        background-color: #fc4;
        border: 1px solid #400;
        border-radius: 8px;
        display: block;
        font-size: 12px;
        margin: 8px;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        width: 90px;
    }
    #contents {
        margin: 0 0 16px 0;
        padding: 2px 0 0;
    }
    
    body#index #contents h2,
    body:not(#index) #contents h1 {
        font-size: 20px;
        padding: 8px 8px 8px 4px;
        background-color: #f90;
        border-left: 4px solid #400;
        margin: 16px 0 0;
    }
    body#index #contents h3,
    body:not(#index) #contents h2 {
        font-size: 16px;
        padding: 8px 8px 6px 8px;
        background-color: #fd4;
        border-bottom: 2px solid #844;
        margin: 16px 0 0;
    }
    body#index #contents h4,
    body:not(#index) #contents h3 {
        font-size: 14px;
        padding: 8px 8px 6px 8px;
        background-color: #fe6;
        border-bottom: 1px solid #844;
        margin: 16px 0;
    }
    
    #contents p {
        padding: 8px;
    }
    body#jukebox .btn_detail,
    body#jukebox .btn_play {
        border: 1px solid #400;
        border-radius: 8px;
        display: inline-block;
        margin: 12px 8px;
        padding: 4px;
        text-align: center;
        text-decoration: none;
        width: 35%;
    }
    
    }