*{
  margin: 0;
  padding: 0;
}

header{
  margin-top: 20px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  font-family: fantasy;
  border-bottom: 5px solid #0000ff;
}

header nav{
  width: 30%;
}

header nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

nav ul li a{
  text-decoration: none;
  color: #000;
}

main{
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.name{
  border-left: 5px solid yellow;
  padding: 10px;
}

.a{
  display: flex;
}

.icon{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}

.policy{
  border-left: 5px solid blue;
  padding: 10px;
}

.history{
  border-left: 5px solid orange;
  padding: 10px;
}

.history ul{
  list-style: none;
}

.line{
  border-left: 3px dotted #d0d0d0;
  margin: 0 0 0 1em;
  padding: 0 0 1em 1em;
}

.footer-3 {
  padding: 3rem 2rem 1.5rem;
  background-color: lightgray;
  border-top: 5px solid #ff0000;
}

.footer-3__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

.footer-3__logo {
  width: 130px;
  margin-bottom: .2em;
}

.footer-3__caption {
  margin-top: 0;
  color: #a6adb3;
  font-size: .75em;
}

.footer-3__title,
.footer-3__link {
  margin: 0 0 .8em;
  color: #333;
  font-size: .9em;
}

.footer-3__title {
  font-weight: 600;
}

.footer-3__list {
  padding: 0;
  list-style-type: none;
}

.footer-3__link {
  display: block;
}

.footer-3__link:not(:hover) {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .footer-3__container {
      justify-items: start;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
  }

  .footer-3__head {
      grid-column: 1/3;
  }

  .footer-3__caption br {
      display: none;
  }
}