@charset "UTF-8";

/* 共通部分 */

html, body {
	font-size: 20px;
	font-family: sans-serif;
	color: #0f0e0e;
    background-color: lightyellow;
    scroll-behavior: smooth;
}


body{
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* header */

header{
    background-color: lightblue;
}

.logo{
    width: 210px;
    margin-top: 14px;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    justify-content:end;
    font-family: fantasy;
}

.main-nav li{
    margin-left: 36px;
}

.main-nav a{
    color: #000;
}

.main-nav a:hover{
    color: #0bd;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.4%;
}

/* home */

.home{
    text-align: center;
    margin-top: 10%;
}

.home p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
    font-family: "Kaisei Tokumin", serif;
}

.home h2{
    font-size: 5rem;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: normal;
}

.main {
    background-size: cover;
    background-position: center top;
}

#main {
    background-image: url(../images/main.jpg);
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
    font-family: "Kaisei Tokumin", serif;
}
.button:hover {
    background: #0090aa;
}

/* 下記メインコンテンツ */


.item-list {
    display: flex;
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border: 5px #000;
    color: #fff;
    overflow: scroll;
    font-family: fantasy;
}

.item-list li {
    flex-shrink: 0;
    width: 260px;
    margin-left: 75px;
}

.item-list dl {
    margin-top: 20px;
}

.item-list dt {
    font-weight: bold;
    text-align: center;
    font-family: "Kaisei HarunoUmi", serif;
}

.item-list dd {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    text-align: left;
}

.item-list {
    list-style-type: none
}

.item-list2 {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color: #fff;
    overflow: scroll;
    font-family: fantasy;
}

.item-list2 li {
    flex-shrink: 0;
    width: 260px;
    margin-right: 75px;
    font-family: "Nico Moji";
}

.item-list2 dl {
    margin-top: 20px;
}

.item-list2 dt {
    font-weight: bold;
    text-align: center;
    font-family: "Kaisei HarunoUmi", serif;
}

.item-list2 dd {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    text-align: left;
}

.item-list2 {
    list-style-type: none
}

/* エクスビジネスの説明 */
.XBP{
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-family: "Kaisei Tokumin", serif;
}

.XBP p{
    margin: 10px 0 42px;
}

.XBP h2{
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: normal;
}

/* フッター
-----------------------*/
footer {
    background: #000;
    text-align: center;
    padding: 26px 0;
    
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}