@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
  }
  

  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color: #52b5ee;/*色*/
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }
logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
    margin-left: 15px;
    margin-bottom: 40px;
	background: #efefef;
}
h1 {
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
  }
h2 {
  color: #000000;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #6091d3;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

h2:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

h3{
    margin-left: 2em;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
.box1{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}
.box1 p {
    margin: 0; 
    padding: 0;
}
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}
.balloon1 {
    position: relative;
    margin: 2em 0 2em 40px;
    padding: 15px;
    background: #fff0c6;
    border-radius: 30px;
  }
  
  .balloon1:before {  
    content: "";
    position: absolute;
    left: -38px;
    width: 13px;
    height: 12px;
    bottom: 0;
    background: #fff0c6;
    border-radius: 50%;
  }
  
  .balloon1:after {
    content: "";
    position: absolute;
    left: -24px;
    width: 20px;
    height: 18px;
    bottom: 3px;
    background: #fff0c6;
    border-radius: 50%;
  }
  .balloon1 p {
    margin: 0; 
    padding: 0;
  }
p{
    margin-left: 3em;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
.example2 li {
display: inline;
padding:10px 15px;
border:1px #ccc solid;color:#000053;
border-radius: 5px / 5px;}
.example2 .this {background-color:#777;color:#fff;}
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 150px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
td {
  background: #ffffff
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}
.loading-005 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-005 span {
  display: inline-block;
  color: #2589d0;
  font-weight: 600;
  font-size: 1.5em;
  animation: animation-loading-005 1s infinite;
}

.loading-005 span:nth-of-type(2) {
  animation-delay: .1s;
}

.loading-005 span:nth-of-type(3) {
  animation-delay: .2s;
}

.loading-005 span:nth-of-type(4) {
  animation-delay: .3s;
}

.loading-005 span:nth-of-type(5) {
  animation-delay: .4s;
}

.loading-005 span:nth-of-type(6) {
  animation-delay: .5s;
}

.loading-005 span:nth-of-type(7) {
  animation-delay: .6s;
}

.loading-005 span:nth-of-type(8) {
  animation-delay: .7s;
}

.loading-005 span:nth-of-type(9) {
  animation-delay: .8s;
}

.loading-005 span:nth-of-type(10) {
  animation-delay: .9s;
}

@keyframes animation-loading-005 {
  50% {
      transform: translateY(10px);
  }
}