@charset "UTF-8";

header {
    background-color: #333; /* ヘッダーの背景色を設定 */
    color: white; /* ヘッダーテキストの色を設定 */
    padding: 20px; /* ヘッダー内の余白を設定 */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white; /* ナビゲーションリンクのテキスト色を設定 */
}

main{
    background-color:darkgray;
    color: black;
}

.heading-009 {
    position: relative;
    padding: .5em .7em;
    border-radius: 10px;
    background-color: #2589d0;
    color: #fff;
}

.heading-009::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 30px;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top: 11px solid #2589d0;
}

a{
    color: black;
}

footer {
    text-align: center; /* テキストを中央に配置 */
    background-color: #333; /* フッターの背景色を設定 */
    color: white; /* フッターテキストの色を設定 */
    padding: 10px; /* フッター内の余白を設定 */
}

.footer a{
    
    display: inline-block;
    justify-content: center;
    color: #ffffff;
    list-style: none;

}