header{
    text-align: center;
}

nav ul{
    background-color: #00ccff;
    list-style: none;
    overflow: hidden;
  }
   
  nav li {
    width: 300px;
    text-align: center;
    background-color: #00ccff;
    float: left;
    height: 45px;
    line-height: 45px;
    margin-right: 2px;
  }
   
  nav a {
    text-decoration: white;
    color: #fff;
    font-weight: bold;
    padding: 20px;
  }

  main{
    background-color: skyblue;
  }

  img{
    min-width: 600px;
    max-width: 600px;
  }

  button{
    text-align: center;
    margin-left: 600px;
    min-width: 200px;
    min-height: 30px;
  }

  footer {
    background-color: skyblue;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}