/* 全体設定 */
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

.logo{
  width: 10%;

}

/* ヘッダー */
header {
  padding: 2rem;
  border-bottom: 3px solid #ff2a68; /* ビビッドピンク */
  background-color: #ffffff;
}



/* メインコンテンツ */
main {
  max-width: 800px;
  padding: 0 1rem;
}

.title{
  text-align: center;
}

.post {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-left: 5px solid #ffd700; /* ビビッドイエロー */
  background-color: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.post-title {
  font-size: 1.5rem;
  color: #111;
  margin-bottom: 0.5rem;
}

/* フッター */
footer {
  border-top: 5px solid #0505ff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 1rem;
  background-color: #f2f2f2;
  color: #999;
}

/* モバイル対応 */
@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }

  .post-title {
    font-size: 1.25rem;
  }

  .post-summary {
    font-size: 0.95rem;
  }
}
