/* 全体設定 */
body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
  }
  
  .logo{
    width: 10%;
  
  }
  
  /* ヘッダー */
  header {
    padding: 2rem;
    border-bottom: 3px solid #ff2a68; /* ビビッドピンク */
    background-color: ffffff;
  }
  
  header nav {
    display: flex;
    font-size: 35px;
    list-style: none;
    color: #222;
    justify-content:end;
    font-family: fantasy;
  }
  
  header nav li{
    margin: 20px;
  }
  
  /* メインコンテンツ */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .post {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-left: 5px solid #ffd700; /* ビビッドイエロー */
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .post-title {
    font-size: 1.5rem;
    color: #111;
    margin-bottom: 0.5rem;
  }
  
  /* フッター */
  footer {
    text-align: center;
    margin: 30px;
    padding: 1rem;
    background-color: #f2f2f2;
    color: #999;
  }
  
  /* モバイル対応 */
  @media (max-width: 600px) {
    header h1 {
      font-size: 2rem;
    }
  
    .post-title {
      font-size: 1.25rem;
    }
  
    .post-summary {
      font-size: 0.95rem;
    }
  }
  